/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
		width: 1250px;
		margin: 0 auto;
    font-family: 'Roboto Mono', monospace, 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.nav-bar {
	background-color: #AAAAAA;
	position: fixed;
	top: 0;
	width: 78.2em;
	height: 4em;
	z-index: 2;
	border: 5px ridge lightgrey;
}

.nav-bar nav {
	display: inline-block;
	width: auto;
	height: 3em;
	position: relative;
}

.nav-bar img {
	position: relative;
	right: -6em;;
	top: .6em;
}

.nav-bar a {
	display: inline-block;
	width: auto;
	margin: 1em 2.25em;
	padding: .25em;
	text-decoration: none;
	color:  white;
	position: relative;
}

/*navbar animation*/
.nav-bar a::before {
	content: '';
	display: block;
	height: 2px;
	width: 0%;
	background-color: black;


	position: absolute;
	top: 0;

	transition: all ease-in-out 250ms;
}

.nav-bar a:hover::before {
	width: 90%;
}

.nav-bar a:hover {
	color: black;
}

h1 {
  text-align: center;
  font-size: 75px;
  border-bottom: 3px solid black;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-size: 30px;
}

.vision-text {
  border-bottom: 3px solid black;
  margin-bottom: 2em;
}

.vision-text p {
  letter-spacing: .75px;
  line-height: 25px;
  width: 700px;
  margin: 1em auto;
  margin-top: 4em;
}

.vision-text span {
  font-style: italic;
  font-weight: bold;
}

/* Free images from pexels.com*/
.member-container {
  position: relative;
  width: 40%;
  display: inline-block;
  margin-left: 5em;
  margin-top: 3em;
}

.team {
  border-bottom: 3px solid black;
  padding-bottom: 2em;
}

.team img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.team p {
  display: inline-block;
  width: 300px;
  position: absolute;
  top: 4em;
  right: -4em;
}

.banner {
  height: 200px;
  width: 100%;
  margin: 4em auto;
  padding: 5px;
  background-color: silver;
  box-shadow: 0px 0px 10px 2px black;

  background-image: url("../img/logo.png") repeat;
  background-position: center;
  background-size: cover;

}

footer p {
  padding: 7px;
}

.copyright
 {
  text-align: center;
  margin-bottom: 2em;
}
